ion-toolbar {
    --background: url('../../assets/img/barra2.png') no-repeat fixed center; 
 }
ion-item {
    --background: url('../../assets/img/background.png') no-repeat center center / cover !important;
  }
  ion-content {
    --background: url('../../assets/img/background.png') no-repeat center center / cover !important;
  }