<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Parceiros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img src="../../assets/banner/banner-biotest.png" />
    <ion-card-content>
      <p>
        Av. Sol Poente, 1691-Cidade Nova, Marabá-PA<br />
        Fone: (94) 3323-2588
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>