<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card class="welcome-card">
        <ion-img src="assets/img/avisos-capa.jpg"></ion-img>
        <!-- <ion-card-header>
          <ion-card-title color="primary">Avisos</ion-card-title>
        </ion-card-header> -->
      </ion-card>

      <ion-card>
        <img src="../../assets/avisos/aviso-missao-mulher-reuniao-geral.jpg">

        <ion-row no-padding>
          <ion-col text-right>
            <ion-button size="small" icon-start (click)="whatsappShare()">
              <ion-icon name='share-alt' ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <img src="assets/avisos/aviso-missao-mulher-polo-01.jpg">
        <ion-card-content class="ion-text-justify">
          <p>
            O terceiro sábado de cada mês é reservado para o encontrão de polo.
            Faça você também parte dessa rede de adoradores.
          </p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col text-right>
            <ion-button size="small" icon-start (click)="whatsappShare()">
              <ion-icon name='share-alt' ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      

      <ion-card>
        <img src="../../assets/avisos/avisos-20-congresso-missao-jovem.jpg">
        <ion-card-content class="ion-text-justify">
          <p>
            A cada ano a missão jovem vem intensificando seus trabalhos chamando atenção no real motivo de estar se buscando a presença de Deus.
            O CONGRESSO MISSÃO JOVEM é só a resposta de todo trabalho que vem sendo realizando durante todo ano.
          </p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col text-right>
            <ion-button size="small" icon-start (click)="whatsappShare()">
              <ion-icon name='share-alt' ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>

</ion-content>
