<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title color="primary">Prevenção da dengue: 10 dicas para se cuidar </ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <div class="ion-text-justify">
        <p>
            <strong>1. Tome a vacina<br/></strong>
            A vacina contra dengue foi criada para prevenir a manifestação do vírus. Atualmente apenas uma vacina foi licenciada no Brasil, a desenvolvida pela empresa francesa Sanofi Pasteur. Ela é feita com vírus atenuados e é tetravalente, ou seja, protege contra os quatro sorotipos de dengue existentes. Ela possui a estrutura do vírus vacinal da febre amarela, o que lhe dá mais estabilidade e segurança.<br/><br/>
            <strong>2. Evite o acúmulo de água<br/></strong>
            O mosquito coloca seus ovos em água limpa, mas não necessariamente potável. Por isso é importante jogar fora pneus velhos, virar garrafas com a boca para baixo e, caso o quintal seja propenso à formação de poças, realizar a drenagem do terreno. Também é necessário lavar a vasilha de água do bicho de estimação regularmente e manter fechadas tampas de caixas d'água e cisternas.<br/><br/>
            <strong>3. Coloque tela nas janelas<br/></strong>
            Colocar telas em portas e janelas ajuda a proteger sua família contra o mosquito da dengue. O problema é quando o criadouro está localizado dentro da residência. Nesse caso, a estratégia não será bem sucedida. Por isso, não se esqueça de que a eliminação dos focos da doença é a maneira mais eficaz de proteção.<br/><br/>
            <strong>4. Coloque areia nos vasos de plantas<br/></strong>
            O uso de pratos nos vasos de plantas pode gerar acúmulo de água. Há três alternativas: eliminar esse prato, lavá-lo regularmente ou colocar areia. A areia conserva a umidade e ao mesmo tempo evita que e o prato se torne um criadouro de mosquitos.<br/><br/>
            <strong>5. Seja consciente com seu lixo<br/></strong>
            Não despeje lixo em valas, valetas, margens de córregos e riachos. Assim você garante que eles ficarão desobstruídos, evitando acúmulo e até mesmo enchentes. Em casa, deixe as latas de lixo sempre bem tampadas.<br/><br/>
            <strong>6. Coloque desinfetante nos ralos<br/></strong>
            Ralos pequenos de cozinhas e banheiros raramente tornam-se foco de dengue devido ao constante uso de produtos químicos, como xampu, sabão e água sanitária. Entretanto, alguns ralos são rasos e conservam água estagnada em seu interior. Nesse caso, o ideal é que ele seja fechado com uma tela ou que seja higienizado com desinfetante regularmente.<br/><br/>
            <strong>7. Limpe as calhas<br/></strong>
            Grandes reservatórios, como caixas d'água, são os criadouros mais produtivos de dengue, mas as larvas do mosquito podem ser encontradas em pequenas quantidades de água também. Para evitar até essas pequenas poças, calhas e canos devem ser checados todos os meses, pois um leve entupimento pode criar reservatórios ideais para o desenvolvimento do Aedes aegypti.<br/><br/>
            <strong>8. Piscinas e aquários<br/></strong>
            Piscinas pode se tornar foco de dengue - por isso, a atenção deve ser redobrada com a limpeza em épocas de surto. Já no caso dos aquários, peixes são grandes predadores de formas aquáticas de mosquitos.<br/><br/>
            <strong>9. Uso de inseticidas e larvicidas<br/></strong>
            Tanto os larvicidas quanto os inseticidas distribuídos aos estados e municípios pela Secretaria de Vigilância em Saúde têm eficácia comprovada, sendo preconizados por um grupo de especialistas da Organização Mundial da Saúde.<br/>
            Os larvicidas servem para matar as larvas do mosquito da dengue. São aqueles produtos em pó, ou granulado, que o agente de combate a dengue coloca nos ralos, caixas d'água, enfim, nos lugares onde há água parada que não pode ser eliminada.<br/><br/>
            <strong>10. Uso de repelente<br/></strong>
            O uso de repelentes, principalmente em viagens ou em locais com muitos mosquitos, é um método importante para se proteger contra a dengue. Recomenda-se, porém, o uso de produtos industrializados. Os repelentes caseiros, como andiroba, cravo-da-índia, citronela e óleo de soja não possuem grau de repelência forte o suficiente para manter o mosquito longe por muito tempo. Além disso, a duração e a eficácia do produto são temporárias, sendo necessária diversas reaplicações ao longo do dia, o que muitas pessoas não costumam fazer.
          </p>
        </div>
          <p>
            <br/><strong>Fonte: https://www.minhavida.com.br/saude/materias/11617-prevencao-da-dengue-10-dicas-para-se-cuidar?&tb_cb=1</strong>
          </p>
      
          </ion-card-content>

</ion-content>
