<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="primary"></ion-back-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-card class="welcome-card">
          <ion-img src="assets/img/saude-adolescente-capa.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">SAÚDE DO ADOLESCENTE</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-item (click)="abrirUrl('https://www.endocrino.org.br/10-coisas-que-voce-precisa-saber-sobre-uso-de-anabolizantes/')">
          <ion-thumbnail slot="start">
              <img src="assets/img/saude-adolescente-1.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            Você Precisa Saber Sobre Uso de Anabolizantes
          </ion-label>
        </ion-item>
  
  </ion-content>
  