<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
    <ion-card-title color="primary">8 Dicas para Evitar e Controlar a Hipertensão</ion-card-title>
  </ion-card-header>
  <ion-card-content >
      <div class="ion-text-justify">
    <p>
      Estresse, cigarro, álcool e quilos a mais podem desencadear ou agravar o problema:<br/>
      Controlar a hipertensão com remédios é rotina na vida de 1/4 dos brasileiros. A doença, que sobrecarrega o coração, é crônica e pode causar sérios problemas para visão, rins e cérebro, além de ser a causadora do infarto do miocárdio. Mas pequenas atitudes podem evitar o quadro ou ajudar no controle dele.<br/>
      "Os maus hábitos à mesa e o sedentarismo colaboram para que os casos de hipertensão aumentem. Muitos pacientes vivem com a doença e não sabem, porque ela não traz sintomas no início", afirma José Kawazoe Lazzoli, especialista em cardiologia e presidente da Sociedade Brasileira de Medicina do Exercício e do Esporte (SBME).<br/>
      Para tratar essa condição, em muitos casos os medicamentos são essenciais. Mas a mudança no comportamento também transforma sua saúde. Abaixo, o cardiologista indica uma série de hábitos que, diluídos no dia a dia, ajudam você a viver de maneira mais saudável sem depender da farmácia.<br/><br/>
      <strong>1. VERIFICAR A PRESSÃO MENSALMENTE:</strong><br/>
      De acordo com o especialista, mesmo quem não sofre com a doença precisa ficar atento e medir a pressão ao menos uma vez por ano. "Cerca de 25% da população adulta é composta por hipertensos. Mas a maioria deles nem desconfia disso e ignora os cuidados, podendo sofrer com problemas mais sérios no futuro", diz o médico. Mas não vale medir a pressão de qualquer jeito:<br/>
      - Repouse 15 minutos antes, em um lugar tranquilo<br/>
      - Caso tenha fumado, aguarde 30 minutos<br/>
      - Não fale durante o procedimento<br/>
      - Permaneça deitado ou sentado durante o processo<br/>
      - Esvazie a bexiga<br/>
      - Após exercícios físicos, aguarde 30 minutos <br/>
      - E não tome café 20 minutos antes da medição <br/><br/>
      <strong>2. REDUZIR O PESO</strong><br/>
      A grande quantidade de gordura corporal também afeta o aumento da pressão arterial. Acabar com o excesso de peso é uma ótima sugestão para quem não deseja encarar riscos. "É como se o coração fosse obrigado a aumentar a força para bombear o sangue em direção aos outros órgãos. Quando o peso diminui, muitas vezes, também reduzimos a dose dos medicamentos", afirma o cardiologista.<br/><br/>
      <strong>3.MANTENHA HÁBITOS ALIMENTARES SAUDÁVEIS</strong><br/>
      Há uma gama de alimentos que podem desencadear ou agravar a doença. "O excesso de sal e de gorduras saturadas, assim como a ingestão de gorduras trans são amigos da hipertensão. Evitá-los é fundamental para manter a doença longe e ou para controlá-la", ressalta o médico.<br/><br/>
      <strong>4. Reduza o consumo de bebidas alcoólicas EVITE ÁLCOOL:</strong><br/>
      De acordo com o especialista, consumir bebidas alcoólicas de forma moderada não é prejudicial para a pressão arterial, mas exagerar na dose pode causar estragos. "O consumo excessivo de álcool compromete todo o organismo, inclusive a pressão arterial", diz.<br/><br/>
      <strong>5. ACALME OS NERVOS</strong><br/>
      De forma isolada, o estresse não é capaz de causar a hipertensão, mas quando combinado com outros fatores de risco pode agravar o quadro. "Buscando alternativas para viver de maneira mais tranquila, o coração tende a trabalhar melhor e as doses dos medicamentos podem até diminuir", diz o cardiologista.<br/><br/>
      <strong>6. ABAIXO A FUMAÇA</strong><br/>
      O cigarro deve ser mantido apagado - e bem longe - se o desejo é permanecer distante dos riscos da hipertensão. O fumo é um dos principais fatores de risco para doença arterial coronariana. As substâncias tóxicas do cigarro provocam o enrijecimento das artérias, fato que compromete a passagem de fluxo sanguíneo e faz a pressão subir", afirma o cardiologista.<br/><br/>
      <strong>7. NÃO TOME MEDICAMENTOS SEM PRESCRIÇÃO MÉDICA:</strong><br/>
      Nada de se automedicar e correr riscos. Os remédios de hipertensão devem ser prescritos após uma série de exames. "Cada pessoa apresenta um nível diferente de elevação da pressão arterial, por isso é importante ressaltar que o uso indevido desses medicamentos pode contribuir até para a piora do quadro. O remédio que funciona para uma amiga, certamente não funcionará para você", alerta o especialista.<br/><br/>
      <strong>8.HORA DE HORA DE MEXER O CORPO</strong><br/>
      Pessoas sedentárias têm cinco vezes mais chance de desenvolver hipertensão arterial do que indivíduos fisicamente ativos. "A prática regular de exercícios ajuda no controle dos níveis da pressão arterial, porque melhora o condicionamento físico do coração, fazendo com que ele não fique sobrecarregado", diz.
Além disso, a prática regular de atividades provoca um efeito anti-hipertensivo por ajudar a queimar os quilos extras. "Não basta perder peso, é necessário reduzir essa massa gorda", explica. "A atividade física facilita a circulação sanguínea, melhora a oxigenação e automaticamente colabora para reduzir a pressão alta"
      </p>
    </div>  
      </ion-card-content>
</ion-content>
