<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title color="primary">Dicas para Uma Coluna Saudável</ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <div class="ion-text-justify">
        <p>
            Exercite-se regularmente: para se manter saudável e reduzir as chances de dores nas costas, a coluna necessita de um regime regular de alongamento e exercícios que auxiliam no condicionamento físico, no estresse e na terapia nutricional da vitamina D.<br/><br/>
            As atividades recomendadas sob orientação são caminhadas, alongamentos, yoga, pilates, musculação, hidroginástica e natação. Se você tiver dúvida sobre a atividade física mais adequada para praticar, consulte um especialista, ele auxiliará na execução dos exercícios certos para ajudá-lo a permanecer saudável, sem estresse e livre de dores na coluna. A seguir segue recomendações simples que você pode realizar nas suas atividades da vida diária.<br/><br/>
            Em pé: divida o peso entre as duas pernas. Evite parar sobrecarregando uma só perna. A cada 45 minutos na mesma posição, caminhe ou sente-se por alguns minutos<br/><br/>
            Ao dirigir: evite reclinar demais o banco do carro. Regule-o em um ângulo de cerca de 100º em relação ao solo. Apoie as costas e a cabeça, e encaixe o quadril no ângulo de 90º (entre o encosto e o assento). Não estique e nem flexione muito os joelhos.<br/><br/>
            Ao se sentar: encaixe o quadril no ângulo de 90º formado entre o encosto e o assento da cadeira, apoiando totalmente as costas. Regule a cadeira de modo que os pés fiquem apoiados no chão e, as coxas na mesma linha do quadril. Busque sempre apoiar os braços nos apoiadores e procure levantar a cada 45 minutos para uma pausa de 10 minutos em pé ou caminhando.<br/><br/>
            Ao agachar para pegar um objeto: flexione sempre os joelhos e não o tronco. Abaixe-se com as costas retas, contraia o abdome e foque na linha do horizonte. Pegue o objeto com o joelho flexionado e aproxime-o ao máximo do abdome, principalmente, se for pesado. Mantenha a coluna ereta e estique os joelhos, até ficar em pé. Se o objeto que quer pegar é grande demais, peça ajuda. Você só deverá tentar levantar sozinho pesos equivalentes a 30% do seu peso corporal, ou seja, para alguém que pesa 70kg, por exemplo, o limite máximo é de 21 kg.<br/><br/>
            Ao se deitar para dormir: a posição de barriga para cima, com um travesseiro sob a cabeça e outro sob dos joelhos, é a melhor. Se a posição for desconfortável, deite-se para dormir de lado, com um travesseiro um pouco mais alto, capaz de preencher o espaço entre o colchão e a sua orelha, mantendo a coluna alinhada, sem forçar o pescoço. Evite a posição de barriga para baixo.<br/><br/>
            Ao se levantar da cama: vire o corpo para um dos lados e coloque as pernas para fora da cama como contrapeso. Apoie-se nos braços contraindo o abdome, suba o tronco até ficar sentado. Somente depois você deverá ficar de pé.<br/><br/>
            Se cuidar é mais fácil do que imaginamos, basta querer, se informar, e contar com a orientação de profissionais especializados.<br/><br/>

          </p>
        </div>  
          </ion-card-content>

</ion-content>
