<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="primary"></ion-back-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-card class="welcome-card">
          <ion-img src="assets/img/saude-idoso-capa.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">SAÚDE DO IDOSO</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-item (click)="abrirUrl('https://pebmed.com.br/metas-de-tratamento-da-hipertensao-arterial-em-idosos/')">
          <ion-thumbnail slot="start">
              <img src="../../assets/img/idoso-1.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            Metas de tratamento da hipertensão arterial em idoso
          </ion-label>
        </ion-item>

        <ion-item (click)="abrirUrl('https://pebmed.com.br/ja-ouviu-falar-no-diabetes-tipo-3/')">
          <ion-thumbnail slot="start">
              <img src="../../assets/img/idoso-2.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            Já ouviu falar no diabetes tipo 3?
          </ion-label>
        </ion-item>
  
  </ion-content>
  