<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-card-header>
          <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
          <ion-card-title color="primary">Cuidados com Alimentos Industrizalizados</ion-card-title>
        </ion-card-header>
        <ion-card-content >
            <div class="ion-text-justify">
          <p>“Bebeu água? Não! Tá com sede? Sim, olha a água mineral, água mineral, você vai ficar legal” – o hit do grupo Timbalada que embalou o carnaval dos anos 1990 estava certíssimo. Entretanto, muita gente, principalmente crianças e adolescentes, tem trocado a saudável H2O por sucos industrializados e refrigerantes extremamente açucarados.<br/>
              Uma pesquisa realizada em 2013 por estudiosos da Faculdade de Saúde Pública da USP, da Faculdade de Medicina do ABC e do Instituto da Criança do Hospital das Clínicas, e publicada no BMC Public Health, apontou que as crianças e os adolescentes consomem cerca de 26 kg de açúcar por ano, isso considerando só as bebidas.<br/>
              A Organização Mundial de Saúde (OMS) já considera a obesidade infantil uma epidemia. Os riscos do consumo desenfreado de açúcar estão associados ao aumento frenético de doenças cardiovasculares, como o diabetes e a hipertensão.<br/>
              Maristela Bassi Strufaldi, nutricionista, educadora em diabetes e membro das equipes de Nutrição da ADJ Diabetes Brasil, destaca ainda: “Os refrigerantes e os sucos de caixinha ou em pó podem elevar a glicemia rapidamente, além de aumentar a resistência à insulina e favorecer o ganho de peso.”<br/>
              As bebidas industrializadas têm adição de sacarose e chegam a conter cerca de seis colheres (sopa) de açúcar em 350 ml. Até algumas marcas de água de coco embasada apresentam açúcar adicionado, visando homogeneizar o sabor. As bebidas diet/light também apresentam riscos à saúde quando consumidos frequentemente.<br/>
              O consultor em endocrinologia do Salomão Zoppi Diagnósticos, Felipe Henning Duarte, alerta: “Apesar de a maioria dos refrigerantes light/diet não conter açúcar e deste modo não alterar o diabetes, elas trazem outros efeitos maléficos para a saúde devido à presença de conservantes como o ácido fosfórico. Os refrigerantes, por exemplo, podem provocar a perda da massa mineral óssea levando à osteoporose. A acidez dessas bebidas é altamente nociva para o estômago, podendo também causar gastrite”.<br/>
              Por isso, a dica é sempre prestar atenção nos rótulos dos produtos que irá consumir, checando, principalmente, a quantidade de sódio e de carboidrato (e não só presença do açúcar adicionado à composição).<br/>
              O ideal mesmo, segundo os especialistas, é consumir os alimentos e bebidas o mais natural possível. Prefira tomar sucos naturais, sem adição de açúcar, conservantes ou adoçantes e beber sempre muita água para se manter hidratado.
            </p>
          </div>
            <p>
              <br/><strong> https://www.momentodiabetes.com.br/2016/06/23/bebidas-industrializadas-merecem-atencao-redobrada/</strong>
            </p>
        
            </ion-card-content>


</ion-content>
