<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="primary"></ion-back-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-card class="welcome-card">
          <ion-img src="assets/img/saude-mental-capa.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">SAÚDE MENTAL</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-item (click)="abrirUrl('https://www.psicologiaviva.com.br/blog/controlar-a-ansiedade/')">
          <ion-thumbnail slot="start">
              <img src="assets/img/saude-mental-1.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            3 dicas para controlar a ansiedade!
          </ion-label>
        </ion-item>
  
  </ion-content>
  