<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title color="primary">12 Passos do Mindful Eating</ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <div class="ion-text-justify">
        <p>
            1. Desconecte-se à mesa! Nada de ficar no celular nas refeições.<br/>
            2. Prepare-se para comer: respire fundo e observe com olhar curioso os alimentos..<br/>
            3. Sente-se à mesa de uma forma confortável..<br/>
            4. Utilize os talheres a seu favor: descanse-os, troque para a mão não dominante e aprecie tudo com calma.<br/>
            5. Delicie cada mordida: preste atenção no cheiro, na temperatura e na textura da comida.<br/>
            6. Feche os olhos em algumas garfadas para estar mais presente.<br/>
            7. Pense na origem e na cadeia produtiva que permite aos alimentos chegarem ao seu prato.<br/>
            8. Observe o que sente: conforto, alegria, satisfação.<br/>
            9. Desligue o julgamento sobre nutrientes e calorias.<br/>
            10. Aprecie o entorno: onde e com quem está.<br/>
            11. Tente dar uma nota para sua fome e para sua saciedade.<br/>
            12. Finalize contemplando e agradecendo pela refeição.<br/>
          </p>
        </div>
          <p>
            <br/><strong> https://saude.abril.com.br/alimentacao/mindful-eating-alimentacao/</strong>
          </p>
      
          </ion-card-content>

</ion-content>
