<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
        <ion-back-button color="primary"></ion-back-button>
      </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title color="primary">Curiosidades sobre disfunções miccionais e incontinência urinária</ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <div class="ion-text-justify">
        <p>
            Disfunção miccional é um termo genérico utilizado para se referir a problemas de função da bexiga urinária, que incluem dificuldades no armazenamento ou esvaziamento da urina. A incontinência urinária é um tipo de disfunção miccional,caracterizada pela perda involuntária de urina pela uretra.<br/><br/>

            Segundo os dados da Sociedade Brasileira de Urologia (SBU), estima-se que uma a cada 25 pessoas pode sofrer de incontinência urinária ao longo da vida. Cerca de 40% das mulheres após a menopausa perdem urina de forma involuntária. Aproximadamente 8% dos homens que necessitam de cirurgia para remoção completa da próstata (para tratamento do câncer) também podem apresentar perda involuntária de urina.<br/><br/>

            Existem três tipos básicos de incontinência urinária, listados abaixo, que podem ocorrer em ambos os sexos:<br/>
            <strong>1 - Incontinência urinária aos esforços</strong><br/>
            <strong>2 - Incontinência urinária de urgência</strong><br/>
            <strong>3 - Incontinência urinária por transbordamento</strong><br/><br/>

            <strong>Incontinência urinária aos esforços –</strong> caracteriza-se pela perda involuntária de urina (via uretral) que ocorre durante manobras de esforço, como tossir, espirrar, levantar peso ou, até mesmo, mudança de posição (levantar-se da cama, por exemplo). Existem fatores de risco para a ocorrência desse tipo de perda urinária. O principal fator de risco para ocorrência de incontinência urinária aos esforços nos homens é a cirurgia radical da próstata (prostatectomia radical), que é uma das modalidades de tratamento do câncer de próstata. Em função da proximidade entre a próstata e o esfíncter urinário (esfíncter externo da uretra), este pode se tornar incompetente para manter a continência urinária no período pós-operatório. Nas mulheres, os fatores de riscos estão relacionados ao número de gestações, menopausa, obesidade e prolapsos de órgãos pélvicos (“bexiga caída”, “útero caído”).<br/><br/>
            
            <strong>Incontinência urinária de urgência –</strong> é a perda involuntária de urina que vem acompanhada de um desejo intenso de urinar, que é difícil de controlar (segundo definição da Sociedade Internacional de Continência – ICS). Essa modalidade de incontinência urinária também pode acometer ambos os sexos e todas as faixas etárias. A incontinência urinária de urgência ocorre quando o músculo da bexiga se contrai em momentos inadequados, mesmo com a bexiga “pouco cheia”, caracterizando o que se chama Síndrome da Bexiga Hiperativa. Quando existem sintomas de incontinência urinária aos esforços e também de urgência, utiliza-se o termo incontinência urinária mista.<br/><br/>
          
            <strong>Incontinência urinária por transbordamento –</strong> é aquela que ocorre quando a pessoa tem dificuldade para esvaziar completamente a bexiga. Quando há um fator obstrutivo e a bexiga urinária não se esvazia completamente durante a micção, o resíduo urinário pode se tornar cada vez maior e ocorrer a perda por transbordamento: perda contínua (gotas), com a bexiga muito cheia. O estreitamento de uretra (que é muito mais frequente em homens do que em mulheres), bem como o aumento da próstata (em homens) são as causas mais comuns desse tipo de incontinência urinária. Os pacientes com problemas neurológicos também podem apresentar esse tipo de incontinência urinária.<br/><br/>

            Muitas pessoas com incontinência urinária esperam vários anos até procurar auxílio especializado. Existe um tabu que precisa ser quebrado: mesmo na terceira idade, a perda de urina não é um evento normal! Em função de constrangimento ou falta de informação, há casos em que o indivíduo se isola do convívio social e desiste de participar de atividades de lazer e recreação. Esse tipo de atitude traz um impacto negativo à qualidade de vida e pode estar associado à depressão.<br/><br/>

            Independentemente do tipo de perda urinária, é muito importante que o paciente procure um médico urologista para uma avaliação global dos seus sintomas. Existem diversas formas de tratamento da incontinência urinária, desde tratamentos medicamentosos, exercícios do assoalho pélvico, até cirurgias minimamente invasivas.<br/><br/>

            <strong>FONTE: https://portaldaurologia.org.br/dicas/curiosidades-sobre-disfuncoes-miccionais-e-incontinencia-urinaria/</strong>
          </p>
        </div>  
          </ion-card-content>

</ion-content>
