<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="primary"></ion-back-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-card class="welcome-card">
          <ion-img src="assets/img/saude-crianca-capa.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">SAÚDE DA CRIANÇA</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-item (click)="abrirUrl('https://saude.abril.com.br/alimentacao/o-perigo-da-obesidade-infantil/')">
          <ion-thumbnail slot="start">
              <img src="assets/img/saude-crianca-1.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            O perigo da obesidade infantil
          </ion-label>
        </ion-item>
        
        <ion-item (click)="abrirUrl('https://pebmed.com.br/uso-problematico-de-midias-interativas-voce-conhece-esta-entidade/')">
          <ion-thumbnail slot="start">
              <img src="assets/img/saude-crianca-2.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            Uso Problemáticos de Mídios Interativas
          </ion-label>
        </ion-item>

        <ion-item (click)="abrirUrl('https://pebmed.com.br/uso-problematico-de-midias-interativas-voce-conhece-esta-entidade/')">
          <ion-thumbnail slot="start">
              <img src="assets/img/saude-crianca-2.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            Uso Problemáticos de Mídios Interativas 2
          </ion-label>
        </ion-item>
  
  </ion-content>