<ion-header>
  <img src="../../assets/img/barra.png" />
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col align-self-start>
        <ion-img class="btn" src="assets/icon/projeto-icone.png" style="width : 100% ; height : 100%"
          [routerLink]="['/projeto']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-center>
        <ion-img class="btn" src="assets/icon/videos-icone.png" style="width : 100% ; height : 100%"
          [routerLink]="['/videos']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-end>
        <ion-img class="btn" src="assets/icon/nutricao.png" style="width : 100% ; height : 100%"
          [routerLink]="['/nutricao']" routerdirection="forward"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col align-self-start>
        <ion-img class="btn" src="assets/icon/saude-mental.png" style="width : 100% ; height : 100%"
          [routerLink]="['/saude-mental']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-center>
        <ion-img class="btn" src="assets/icon/saude-da-mulher.png" style="width : 100% ; height : 100%"
          [routerLink]="['/saude-mulher']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-end>
        <ion-img class="btn" src="assets/icon/saude-do-homem.png" style="width : 100% ; height : 100%"
          [routerLink]="['/saude-homem']" routerdirection="forward"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col align-self-start>
        <ion-img class="btn" src="assets/icon/saude-do-idoso.png" style="width : 100% ; height : 100%"
          [routerLink]="['/saude-idoso']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-center>
        <ion-img class="btn" src="assets/icon/saude-do-adolescente.png" style="width : 100% ; height : 100%"
          [routerLink]="['/saude-adolescente']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-end>
        <ion-img class="btn" src="assets/icon/saude-da-crianca.png" style="width : 100% ; height : 100%"
          [routerLink]="['/saude-crianca']" routerdirection="forward"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col align-self-start>
        <ion-img class="btn" src="assets/icon/parceiros.png" style="width : 100% ; height : 100%"
          [routerLink]="['/parceiros']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-center>
        <ion-img class="btn" src="assets/icon/avisos.png" style="width : 100% ; height : 100%"
          [routerLink]="['/avisos']" routerdirection="forward"></ion-img>
      </ion-col>
      <ion-col align-self-end>
        <ion-img class="btn" src="assets/icon/compartilhar.png" style="width : 100% ; height : 100%"
          (click)="whatsappShare()" routerdirection="forward"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOptions" #slider>
    
      <ion-slide>
        <ion-img src="assets/banner/banner-biotest.png"></ion-img>
      </ion-slide>
  </ion-slides>
  <!-- <ion-card class="card-background-page">
      <img src="../../assets/avisos/aviso-congresso-missao-mulher.jpg"/>
    </ion-card> -->

</ion-content>