<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XWvfwUlL0wc" allowfullscreen></iframe>
      </div>
      <ion-card-content class="ion-text-justify">
        <ion-card-title>
            Menopausa - Drª Regiane Helena Médica Ginecologista #1
          </ion-card-title>
        <p>
            Drª Regiane Helena médica ginecologista membro do Missão Saúde fala sobre menopausa e esclarece as principais dúvidas sobre o assunto.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AIbYkciyYY0" allowfullscreen></iframe>
      </div>
      <ion-card-content class="ion-text-justify">
        <ion-card-title>
            Menopausa - Drª Regiane Helena Médica Ginecologista #2
          </ion-card-title>
        <p>
            Drª Regiane Helena médica ginecologista membro do Missão Saúde fala sobre menopausa e esclarece as principais dúvidas sobre o assunto.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cb4nkGF9akM" allowfullscreen></iframe>
      </div>
      <ion-card-content class="ion-text-justify">
        <ion-card-title>
            Pré-Diabetes - Dr Wild Cavalcante
          </ion-card-title>
        <p>
          Dr Wild Cavalcante médico endocrinologista membro do Missão Saúde fala sobre alguns cuidados que deve-se ter com a pré-diabetes.
        </p>
      </ion-card-content>
    </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eCV__dv_0Zo" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              Alimentos que aliviam a TPM
            </ion-card-title>
          <p>
              A TPM (tensão pré menstrual) é um problema que atinge pelo menos 80% das brasileiras segundo um estudo da Universidade estadual de Campinas (Unicamp). Os sintomas mais comuns dessa alteração hormonal são a cólica, o inchaço, dores de cabeça, irritação e desânimo. Confira alimentos que ajudam no combate da TPM
             </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OwUgLE56XOk" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              Prevenção do Câncer de Mama
            </ion-card-title>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AfggfvIahig" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              O que acontece no nosso corpo quando praticamos esporte?
            </ion-card-title>
          <p>
              Praticar esporte regularmente traz benefícios para todo o corpo. Desde os músculos até o cérebro. Pesquisadores da Escola Superior de Educação Física, em Colônia, na Alemanha, mostram que a prática de exercícios físicos pode inclusive prolongar a vida.
             </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RQA-quGpMjk" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              Como o exercício físico age no câncer?
            </ion-card-title>
          <p>
              Esse vídeo é baseado em uma revisão publicada por Pedersen & Saltin na Scandinavian Journal of Medicine & Science Sports em 2015 chamada  “Evidência para prescrição de exercícios como terapia em 26 diferentes doenças crônicas”.
             </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dVUoWe31_vQ" allowfullscreen></iframe>
        </div>
        <ion-card-content>
          <ion-card-title>
              Operação Saúde - benefícios da atividade física regular
            </ion-card-title>
          </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S7YmIQOy0xg" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              A saúde dos adolescentes
            </ion-card-title>
          <p>
              No Brasil, uma em cada quatro crianças são obesas. As pesquisadoras Elizabeth Fujimori, da Escola de Enfermagem da Universidade de São Paulo (EE-USP) , Maria Paula de Albuquerque e Ana Lydia Sawaya do Centro de recuperação e educação nutricional (Cren) comentam o impacto da má alimentação e excesso de peso na saúde de crianças e adolescentes, que registram níveis elevados de hipertensão, colesterol total e sedentarismo, antes encontrados apenas em adultos.
             </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-dSsMMBS7Rc" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              Você conhece o câncer do colo do útero?
            </ion-card-title>
          <p>
              Esse vídeo visa conscientizar o público leigo sobre a relação entre o câncer do colo do útero e o HPV, destacando a vacinação como uma importante forma de prevenção.
             </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/odNQdRP03kI" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              Liga da Mama | Vídeo Educacional
            </ion-card-title>
          <p>
              A Liga da Mama é um instituto do interior do estado de Goiás que visa conscientizar as mulheres que são atendidas pelo SUS, visto que há um baixíssimo numero de mulheres que têm se preocupado em fazer o exame de mama.
             </p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/miodNlR7tQo" allowfullscreen></iframe>
        </div>
        <ion-card-content class="ion-text-justify">
          <ion-card-title>
              Menopausa - Causa e conselho
            </ion-card-title>
          <p>
              Esta animação explica o que é a menopausa, seus diversos sintomas e dicas úteis para diminuí-los.
             </p>
        </ion-card-content>
      </ion-card>

</ion-content>
