<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home" color="primary"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
          <ion-card-title color="primary">VIDEOS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Projeto criado pela igreja para auxiliar as pessoas a viverem uma vida mais saudável.</p>
        </ion-card-content>
      </ion-card>
<!-- <ion-list lines="none">
        <ion-list-header>
          <ion-label>Diabetes</ion-label>
        </ion-list-header>
        <ion-card-content>
            <p>Textos referentes a assunto de cada página, como diabetes, depressão, má alimentasção de acordo com o que for solicitado</p>
          </ion-card-content>
      </ion-list> -->

</ion-content>
