<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="primary"></ion-back-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-card class="welcome-card">
          <ion-img src="assets/img/saude-mulher-capa.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">SAÚDE DA MULHER</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-item (click)="abrirUrl('https://pebmed.com.br/diagnostico-da-menopausa-o-que-ha-de-novo/')">
          <ion-thumbnail slot="start">
              <img src="assets/img/saude-mulher-1.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            Diagnóstico da Menopausa: O que há de novo?
          </ion-label>
        </ion-item>

        <ion-item (click)="abrirUrl('https://pebmed.com.br/rotina-fixa-de-trabalho-ajuda-a-ter-pratica-regular-de-exercicio-fisico/')">
          <ion-thumbnail slot="start">
              <img src="assets/img/saude-mulher-2.jpg">
            </ion-thumbnail>
          <ion-label color="primary">
            Prática Regular de Exercício Físico
          </ion-label>
        </ion-item>
  
  </ion-content>
  
